.graph-container {
    width: 50%;
}

.graph{
    padding: 5%;
    flex: 1;
}

.reports{
    font-family: 'Alice';
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: calc(100% - 4rem);
  }
  

.academicReport{
    display: inline-flex;
    border: 3px;
    height: auto;
    width: calc(100% - 4rem);
    margin: 1rem 1rem;
    font-family: 'Alice';
    padding: 1rem 1rem;
    border-radius: 3px;
    background: rgba(0, 115, 183, 0.2);
    border-color: rgb(0, 115, 183);
    border-style:solid; 
  }
  
  .academicDesc{
    width: 50%;
  }
  
  
  .ecReport{
    display: inline-flex;
    border: 3px;
    height: auto;
    width: calc(100% - 4rem);
    margin: 1rem 1rem;
    font-family: 'Alice';
    padding: 1rem 1rem;
    border-radius: 3px;
    background: rgba(255, 133, 27, 0.2);
    border-color: rgb(255, 133, 27);
    border-style:solid; 
  }

  .ecDesc{
    width: 50%
  }
  
  .csReport{
    display: inline-flex;
    border: 3px;
    height: auto;
    width: calc(100% - 4rem);
    margin: 1rem 1rem;
    font-family: 'Alice';
    padding: 1rem 1rem;
    border-radius: 3px;
    background: rgba(0, 166, 90, 0.2);
    border-color: rgb(0, 166, 90);
    border-style:solid; 
  }
  
  .csDesc{
    width: 50%
  }

  .seReport{
    display: inline-flex;
    border: 3px;
    height: auto;
    width: calc(100% - 4rem);
    margin: 1rem 1rem;
    font-family: 'Alice';
    padding: 1rem 1rem;
    border-radius: 3px;
    background: rgba(221, 75, 57, 0.2);
    border-color: rgb(221, 75, 57);
    border-style:solid; 
  }
  
  .seDesc{
    width: 50%
  }

  .satReport{
    display: inline-flex;
    border: 3px;
    height: auto;
    width: calc(100% - 4rem);
    margin: 1rem 1rem;
    font-family: 'Alice';
    padding: 1rem 1rem;
    border-radius: 3px;
    background: rgba(57, 204, 204, 0.2);
    border-color: rgb(57, 204, 204);
    border-style:solid; 
  }
  
  .satDesc{
    width: 50%
  }