.chance-me{
  background: #ecf0f5;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.InputsContainer {
  text-align: center;
  display: flex;
  min-width: 30rem;
  flex: 1, 1, 33%;
  flex-direction: column;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 1rem;
  border-color: rgb(57, 204, 204);
  border-style: solid;
}

.ReportContainer{
  text-align: center;
  display: flex;
  flex: 1;
  min-width: 50rem;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 1rem;
  border-color: rgb(57, 204, 204);
  border-style: solid;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.GpaClass {
  border: 3px;
  font-family: 'Georgia';
  height: auto;
  width: calc(100% - 4rem);
  margin: 1rem 1rem;
  padding: 1rem 1rem;
  border-radius: 3px;
  background: rgba(0, 115, 183, 0.2);
  border-color: rgb(0, 115, 183);
  border-style:solid;
}

.EcClass {
  border: 3px;
  height: auto;
  width: calc(100% - 4rem);
  font-family: 'Georgia';
  margin: 1rem 1rem;
  padding: 1rem 1rem;
  border-radius: 3px;
  background: rgba(255, 133, 27, 0.2);
  border-color: rgb(255, 133, 27);
  border-style:solid;
}

.CsClass{
  border: 3px;
  height: auto;
  width: calc(100% - 4rem);
  font-family: 'Georgia';
  margin: 1rem 1rem;
  padding: 1rem 1rem;
  border-radius: 3px;
  background: rgba(0, 166, 90, 0.2);
  border-color: rgb(0, 166, 90);
  border-style:solid;
}

.SeClass{
  border: 3px;
  height: auto;
  width: calc(100% - 4rem);
  font-family: 'Georgia';
  margin: 1rem 1rem;
  padding: 1rem 1rem;
  border-radius: 3px;
  background: rgba(221, 75, 57, 0.2);
  border-color: rgb(221, 75, 57);
  border-style:solid; 
}

.SatClass {
  border: 3px;
  height: auto;
  width: calc(100% - 4rem);
  font-family: 'Georgia';
  width: calc(100% - 4rem);
  margin: 1rem 1rem;
  padding: 1rem 1rem;
  border-radius: 3px;
  background: rgba(57, 204, 204, 0.2);
  border-color: rgb(57, 204, 204);
  border-style:solid;
}


.collegeSelect {
  text-align: center;
  border: 3px;
  height: auto;
  width: calc(100% - 4rem);
  font-family: 'Georgia';
  margin: 1rem 1rem;
  padding: 1rem 1rem;
  border-radius: 3px;
  background: rgba(96, 92, 168, 0.2);
  border-color: rgb(96, 92, 168);
  border-style:solid;
}

.report{
  font-family: 'Georgia';
  display: flex;
  flex-direction: column;
  width: 100%;
}

.academicReport{
  border: 3px;
  height: auto;
  width: calc(100% - 4rem);
  margin: 1rem 1rem;
  font-family: 'Georgia';
  padding: 1rem 1rem;
  border-radius: 3px;
  background: rgba(0, 115, 183, 0.2);
  border-color: rgb(0, 115, 183);
  border-style:solid; 
}


.ecReport{
  border: 3px;
  height: auto;
  width: calc(100% - 4rem);
  margin: 1rem 1rem;
  font-family: 'Georgia';
  padding: 1rem 1rem;
  border-radius: 3px;
  background: rgba(255, 133, 27, 0.2);
  border-color: rgb(255, 133, 27);
  border-style:solid; 
}

.csReport{
  border: 3px;
  height: auto;
  width: calc(100% - 4rem);
  margin: 1rem 1rem;
  font-family: 'Georgia';
  padding: 1rem 1rem;
  border-radius: 3px;
  background: rgba(0, 166, 90, 0.2);
  border-color: rgb(0, 166, 90);
  border-style:solid; 
}

.seReport{
  border: 3px;
  height: auto;
  width: calc(100% - 4rem);
  margin: 1rem 1rem;
  font-family: 'Georgia';
  padding: 1rem 1rem;
  border-radius: 3px;
  background: rgba(221, 75, 57, 0.2);
  border-color: rgb(221, 75, 57);
  border-style:solid; 
}

.satReport{
  border: 3px;
  height: auto;
  width: calc(100% - 4rem);
  margin: 1rem 1rem;
  font-family: 'Georgia';
  padding: 1rem 1rem;
  border-radius: 3px;
  background: rgba(57, 204, 204, 0.2);
  border-color: rgb(57, 204, 204);
  border-style:solid; 
}

.erbwBox {
  float:left;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.head {
  background: #203444;
  color: white;
  padding: 15px;
  display: flex;
  height: 5vh;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.logo{
  height: 5vh;
  width: auto;
  margin-right: auto;
  flex: 0 1 auto;
}

.title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  flex: 0 1 auto;
  width: auto;
}

input {
  width: 150px;
  outline: none;
  border: 2px solid #282c34;
  border-radius: 4px;
  padding: 8px;
}

.inputs {
  padding: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}