.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.SatClass {
  border: 3px;
  height: auto;
  width: 25rem;
  margin: 1.5rem auto 1.5rem;
  padding: 1rem 1rem;
  border-radius: 3px;
  background: rgba(0, 128, 0, 0.2);
  border-color: green;
  border-style:solid; 
}

.GpaClass {
  border: 3px;
  height: auto;
  width: 25rem;
  margin: 1.5rem auto 1.5rem;
  padding: 1rem 1rem;
  border-radius: 3px;
  background: rgba(128, 0, 128, 0.2);
  border-color: purple;
  border-style:solid; 
}

.EcClass {
  border: 3px;
  height: auto;
  width: 25rem;
  margin: 1.5rem auto 1.5rem;
  padding: 1rem 1rem;
  border-radius: 3px;
  background: rgba(255, 165, 0, 0.2);
  border-color: orange;
  border-style:solid; 
}

.collegeSelect {
  text-align: center;
  border: 3px;
  height: auto;
  width: 25rem;
  margin: 3.5rem auto 1.5rem;
  padding: 1rem 1rem;
  border-radius: 3px;
  background: rgba(0, 0, 139, 0.2);
  border-color: darkblue;
  border-style:solid; 
}

.erbwBox {
  float:left;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.head {
  background: #090d59;
  color: white;
  padding: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-family: sofia-pro;
}
.inputs {
  padding: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
